@media screen and (max-width: 600px) {
  section.focus {
    min-width: 400px;
    margin-top: 40px;
    height: 600px;

    .infomation {
    }

    .characteristic {

      .main {
        padding-top: 70px;
      }
    }

    .main {
      padding-top: 90px;

      span {
      }

      img {
      }

      i {
      }

      .mid {
      }

      .title {
        font-size: 50px;
      }
      .text {
        font-size: 24px;
      }

    }

  }
}