section.focus{
  margin-top: 70px;
  height: 470px;

  .infomation{
    float: left;
    width: 50%;
    height: 100%;
    background: #1B282F;
  }

  .characteristic{
    float: right;
    width:50%;
    height: 100%;
    background: #B84850;

    .main{
      padding-top: 200px;
    }
  }

  .main{
    padding-top: 170px;
    height: 230px;
    text-align: center;

    span{
      display: block;
      color: #FFF;
    }

    img{
      padding: 15px 0;
    }

    i{
      color: #FFF;
      font-style: normal;
      font-size: 20px;
      padding: 0 65px;
    }

    .title{
      font-size: 72px;
    }
    .text{
      font-size: 32px;
    }

  }

}