doctype
html
    head
        include ../public/meta
    body
        include ../public/header

        section.focus
            div.infomation
                div.main
                    span.title HARBORS
                    img(src="/images/divider.png")
                    span.text 基于nodejs的web服务器
            div.characteristic
                div.main
                    img(src="/images/subHeaderGraphic.png")
                    div.char
                        i 轻量
                        i 简单
                        i 快速

        section.code
            a.btn(href="https://github.com/devhacker520/harbors-0.4.x", target="_blank") 查看项目

        section.infomation
            div.container
                h1 开源的nodejs服务框架
                img(src="/images/dividerDark.png")
                p 简洁直观的服务框架，基于nodejs原生api，封装实现常用功能，加速项目开发进程。代码托管于github，欢迎致力于开源社区的大家提供宝贵意见、建议以及代码。

        include ../public/footer