div.sidebar
    span.title API导航
    ul
        li
            a(href="/api/core")
                span.num 1
                span.info CORE
                span.btn VIEW
        li
            a(href="/api/route")
                span.num 2
                span.info ROUTE
                span.btn VIEW
        li
            a(href="/api/process")
                span.num 3
                span.info PROCESS
                span.btn VIEW
        li
            a(href="/api/extension")
                span.num 4
                span.info EXTENSION
                span.btn VIEW
        li
            a(href="/api/tools")
                span.num 5
                span.info TOOLS
                span.btn VIEW
    span.title 示例导航
    ul
        li
            a(href="/example")
                span.num 1
                span.info EXAMPLE
                span.btn VIEW