@media screen and (max-width: 700px) {
  section.focus {
    padding: 75px 20px 70px 20px;

    .container {
    }

    h1 {
      font-size: 60px;
    }

    span {
      font-size: 24px;
    }
  }
}